/*
body {
  background: #eee;
}

.application {
  opacity: 1;
}

.application.loading {
  opacity: 0.2;
  transition: opacity 600ms;
}
*/

/* app css stylesheet */

body {
  padding-top: 20px;
}


.phone-images {
  background-color: white;
  width: 450px;
  height: 450px;
  overflow: hidden;
  position: relative;
  float: left;
}

.phones {
  list-style: none;
}

.thumb {
  float: left;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

.phones li {
  clear: both;
  height: 115px;
  padding-top: 15px;
}

/** Detail View **/
img.phone {
  float: left;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  padding: 2em;
  height: 400px;
  width: 400px;
  display: none;
}

ul.phone-thumbs {
  margin: 0;
  list-style: none;
}

ul.phone-thumbs li {
  border: 1px solid black;
  display: inline-block;
  margin: 1em;
  background-color: white;
}

ul.phone-thumbs img {
  height: 100px;
  width: 100px;
  padding: 1em;
}

ul.phone-thumbs img:hover {
  cursor: pointer;
}

ul.specs {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.specs > li{
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

ul.specs > li > span{
  font-weight: bold;
  font-size: 1.2em;
}

ul.specs dt {
  font-weight: bold;
}

h1 {
  border-bottom: 1px solid gray;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.thumbnail > img, .thumbnail a > img {
  margin-right: auto;
  margin-left: auto;
}

.collection-enter, .collection-leave {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

.collection-enter {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.collection-enter.collection-enter-active {
  opacity: 1;
  height: 120px;
}

.collection-leave {
  opacity: 1;
  overflow: hidden;
}

.collection-leave.collection-leave-active {
  opacity: 0;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.item-enter, .item-leave {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

.item-enter {
  position: absolute;
  top: 500px;
  left: 0;
}

.item-enter.item-enter-active {
  position: absolute;
  top:  0;
  left: 0;
}

.item-leave {
  position: absolute;
  top: 0;
  left: 0;
}

.item-leave.item-leave-active {
  position: absolute;
  top: -500px;
  left: 0;
}

img.active {
  display: block;
}
